


<div th:fragment="default">

			
			<div class="nk-header nk-header-fixed is-light">
				<div class="container-fluid">
					<div class="nk-header-wrap">
						<div class="nk-menu-trigger d-xl-none ml-n1">
							<a href="#" class="nk-nav-toggle nk-quick-nav-icon"
								data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
						</div>
						<div class="nk-header-app-name">
							<div class="nk-header-app-logo">
								<em class="icon ni ni-dashlite bg-purple-dim"></em>
							</div>
							<div class="nk-header-app-info">
								<span class="sub-text">Demo</span> <span class="lead-text">GerEmp</span>
							</div>
						</div>

						<div class="nk-header-tools">
							<ul class="nk-quick-nav">

								<li class="dropdown user-dropdown"><a href="#"
									class="dropdown-toggle mr-n1" data-toggle="dropdown">
										<div class="user-toggle">
											<div class="user-avatar sm">
												<em class="icon ni ni-user-alt"></em>
											</div>
										</div>
								</a>
									<div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
										<div
											class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
											<div class="user-card">
												<div class="user-avatar">
													<span>AB</span>
												</div>
												<div class="user-info">
													<span class="lead-text">Abu Bin Ishtiyak</span> <span
														class="sub-text">info@softnio.com</span>
												</div>
											</div>
										</div>
										<div class="dropdown-inner">
											<ul class="link-list">
												<li><a href="html/user-profile-regular.html"><em
														class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
												<li><a href="html/user-profile-setting.html"><em
														class="icon ni ni-setting-alt"></em><span>Account
															Setting</span></a></li>
												<li><a href="html/user-profile-activity.html"><em
														class="icon ni ni-activity-alt"></em><span>Login
															Activity</span></a></li>
											</ul>
										</div>
										<div class="dropdown-inner">
											<ul class="link-list">
												<li><a href="#"><em class="icon ni ni-signout"></em><span>Sign
															out</span></a></li>
											</ul>
										</div>
									</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- main header @e -->
			<div class="nk-sidebar" data-content="sidebarMenu">
				<div class="nk-sidebar-inner" data-simplebar>
					<ul class="nk-menu nk-menu-md">
						<li class="nk-menu-heading">
							<h6 class="overline-title text-primary-alt">Principal</h6>
						</li>
						<!-- .nk-menu-heading -->
						<li class="nk-menu-item"><a href="/"
							class="nk-menu-link"> <span class="nk-menu-icon"><em
									class="icon ni ni-dashboard"></em></span> <span class="nk-menu-text">Menu</span>
						</a></li>
						<!-- .nk-menu-item -->
						<!-- .nk-menu-item -->

						<li class="nk-menu-item has-sub"><a href="#"
							class="nk-menu-link nk-menu-toggle"> <span
								class="nk-menu-icon"><em class="icon ni ni-card-view"></em></span>
								<span class="nk-menu-text">Clientes</span>
						</a>
							<ul class="nk-menu-sub">
								<li class="nk-menu-item"><a
									href="/Cliente/Cliente/Cadastradas" class="nk-menu-link"><span
										class="nk-menu-text">Clientes cadastrados</span></a></li>
								<li class="nk-menu-item"><a
									href="/Cliente/TipoCliente/Cadastradas" class="nk-menu-link"><span
										class="nk-menu-text">Tipo de Clientes</span></a></li>

							</ul>
						</li>
						
						<li class="nk-menu-item"><a href="html/index.html"
							class="nk-menu-link"> <span class="nk-menu-icon"><em
									class="icon ni ni-dashboard"></em></span> <span class="nk-menu-text">Funcionarios</span>
						</a></li>


					</ul>
					<!-- .nk-menu -->
				</div>
			</div>
			<!-- content @s -->
		</div>